<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<mvc:annotation-driven />

	<!-- Scan the JavaConfig -->
	<context:component-scan
		base-package="com.mind.spring.dao,com.mind.spring.dao.impl,com.mind.spring.model,com.mind.spring.service,com.mind.spring.service.impl,com.mind.spring.dto,com.mind.spring.controller,com.mind.spring.controller.impl" />

	<!-- Database Configurations -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/mohak?useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="Mohak3@mysql" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="userDAO" class="com.mind.spring.dao.impl.UserDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	
	<bean id="loginDAO" class="com.mind.spring.dao.impl.LoginDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	
	<bean id="requestDAO" class="com.mind.spring.dao.impl.RequestDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
<!-- 	<bean id="simpleMappingExceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<map>
				<entry key="NullPointerException" value="nullPage"/>
				<entry key="IOException" value="IOException"/>
			</map>
		</property>
		
		<property name="defaultErrorView" value="Exception"/>
		
		<property name="warnLogCategory" value="MVCLogger"/>
	</bean> -->

	<mvc:resources mapping="/resources/**" location="/resources/" />

</beans>